<div class="footer">
    <div class="left panel mx-5 my-3">
        <p class="p-header">Special Thanks:</p>
        <p class="line-item text-center"><a href="https://www.digitalcrafts.com/" target="_blank">Digital Crafts</a></p>
    </div>
    <div class="middle panel">
        Habit City © 2022
    </div>
    <div class="right panel mx-5 my-3">
        <p class="p-header text-center">Contributors:</p>
        <p class="line-item"><a href="https://github.com/VeronicaTaucci" target="_blank">Veronica Taucci</a></p>
        <p class="line-item"><a href="https://github.com/chloeWieser" target="_blank">Chloe Wieser</a></p>
        <p class="line-item"><a href="https://jamescr757.github.io/Portfolio/" target="_blank">James Riddle</a></p>
    </div>
</div>