<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit City - Login</title>
    <link rel="stylesheet" href="/external/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="form-container py-5">
        <form action="/login" method="POST">
            <div class="mb-3">
              <label for="emailInput" class="form-label">Email</label>
              <input type="text" class="form-control" id="emailInput" name="email">
            </div>
            <div class="mb-3">
              <label for="passwordInput" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="passwordInput">
            </div>
            <button id="loginBtn" class="btn btn-success">Login</button>
            <% if (failMessage) { %>
                <div class="mt-3">
                    <p class="text-danger">Email and password combination incorrect</p>
                </div>
            <% } %>
            <div class="mt-3">
                <p>Don't have an account? <a href="/register">Create Account</a></p>
            </div>
        </form>
    </div>

    <script src="/external/js/bootstrap.min.js"></script>
</body>
</html>