.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
    margin: 0 auto;
}

.habit-card {
    width: 20rem;
    min-width: 20rem;
    height: 300px;
}

.habit-title {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    border-bottom: white solid 2px;
    padding: 0.5rem 0;
    margin-bottom: 0;
}

.habit-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 246px;
}

.row-buttons {
    display: flex;
    justify-content: space-between;
}

.click-btn {
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid transparent;
}

.click-btn:focus, .click-btn:active, .click-btn:active:focus {
    box-shadow: none;
}

.bottom-btn:focus, .bottom-btn:active, .bottom-btn:active:focus {
    box-shadow: none;
}

.streak-number {
    text-align: center;
    color: white;
}

.comments-list {
    max-height: 200px;
    overflow: scroll;
}

input {
    width: 244px; /* 320 - 54 - 16 - spacer */
    border: none;
}

::placeholder {
    color: black;
}

input:focus-visible {
    outline: white solid 1px;
}

label {
    min-width: 54px;
}

form {
    border-bottom: solid black 2px;
}

.comment {
    border-bottom: solid black 2px;
    display: flex;
}

.date-span {
    min-width: 54px;
    display: flex;
    align-items: center;
}

.btn-neutral {
    background-color: #5b8e7d;
}

.btn-positive {
    background-color: #bc4b51;
}

.btn-negative {
    background-color: #8cb369;
}

.positive {
    background-color: #8cb369;
}

.negative {
    background-color: #bc4b51;
}

.neutral {
    background-color: rgb(152, 146, 146);
}

