.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 70vh;
}

form {
    background-color: rgb(231, 228, 228);
    border: solid black 1px;
    padding: 1rem;
    width: 330px;
}

form.login {
    height: 280px;
}

form.loginFailed {
    height: 346px;
}

form.register {
    height: 416px;
}

#userMessage {
    display: none;
}