.main-content {
    max-width: 960px;
    margin: auto;
    padding: 8px;
}

.list-items {
    display: flex;
    justify-content: space-between
}

#habitInput {
    outline: 2px solid rgb(212, 210, 210);
    border-radius: 3px;
    height: 40px;
    padding-left: 24px;
    width: 100%;
    margin-top: 16px;
}

::placeholder{
    color: grey
}

.addHabit {
    height: 160px;
    margin: 24px 0px;
}

#habitPositive {
    width: 24px;
    /* background-color: #5b8e7d; */
}

#habitNegative {
    width: 24px;
    margin-left: 16px
}

.radiosAndButton{
    margin: 24px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.add{
    background-color: #5b8e7d;
    margin: 0px;
    width: 144px;
}

#updateInput{
    outline: 2px solid rgb(212, 210, 210);
    border-radius: 3px;
    height: 40px;
    padding-left: 24px;
    width: 100%;
    margin-top: 16px;
}

#submit{
    background-color: #5b8e7d;
    /* margin: 0px; */
    width: 144px;
}

.updateButtonContainer{
    margin: 24px 20px;
    display:flex;
    justify-content: flex-end;
}
